<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öbs</title>

    <link rel="stylesheet" href="/css/MainMenu.css">

</head>
<body>
    
    <!-- Navbar -->
    <div class="header">

        <div class="logo-image">
            <img src="/img/Logo.png" alt="kou-logo" id="logo">
        </div>
        
        <div class="nav-buttons-div">
            <button class="nav-buttons" id="home">Anasayfa</button>
            <button class="nav-buttons" id="schedule">Ders Programı Hazırlama</button>
            <button class="nav-buttons" id="exam">Sınav Programı Hazırlama</button>
            <button class="nav-buttons" id="sitting-plan">Oturma Düzeni Hazırlama</button>
        </div>

        <!-- logout-div asıl proje versiyonu -->
        <div class="logout-div">
            <form asp-controller="Account" asp-action="LogOut" method="post">
                <button class="nav-buttons" id="logout" type="submit">Çıkış Yap</button>
            </form>
        </div>
        
    </div>

    <!-- Asıl Content -->
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>