<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öbs</title>

    @if (ViewData["CSS"] != null)
    {
        <link rel="stylesheet" href="@ViewData["CSS"]" />
    }

</head>
<body>
    
    <!-- Navbar -->
    @await Html.PartialAsync("_navbar")

    <!-- Asıl Content -->
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>