    <div class="header">

        <div class="logo-image">
            <img src="/img/Logo.png" alt="kou-logo" id="logo">
        </div>
        
        <div class="nav-buttons-div">

            <form asp-controller="MainMenu" asp-action="Index" method="get">
                <button class="nav-buttons" id="home">Anasayfa</button>
            </form>

            <form asp-controller="Classroom" asp-action="ClassroomSelection" method="get">
                <button class="nav-buttons" id="classroom">Derslikler</button>
            </form>

            <!-- Henüz hazır olmayan sayfalar -->
            <form asp-controller="MainMenu" asp-action="Index" method="get">
                <button class="nav-buttons" id="exam">Sınav Programı Hazırlama</button>
            </form>

            <!-- Henüz hazır olmayan sayfalar -->
            <form asp-controller="MainMenu" asp-action="Index" method="get">
                <button class="nav-buttons" id="sitting-plan">Oturma Düzeni Hazırlama</button>
            </form>

        </div>

        <!-- logout-div asıl proje versiyonu -->
        <div class="logout-div">
            <form asp-controller="Account" asp-action="LogOut" method="post">
                <button class="nav-buttons" id="logout" type="submit">Çıkış Yap</button>
            </form>
        </div>
        
    </div>