<h1>Başarılı şekilde giriş yapıldı</h1>
<form id="logoutForm" method="post" asp-controller="Account" asp-action="LogOut" style="display:inline;">
    <button type="submit" class="nav-link btn btn-link" style="border: none; background: none;">Log Out</button>
</form>