@{
    Layout = "_MenuLayout";
    ViewData["CSS"] = "/css/MainMenu.css";
}


    <div class="container">
        <div class="left"></div>

        <div class="center">
            <div class="selection-box">
                <div id="row-1">
                    <form asp-controller="Exam" asp-action="DisplayExam" method="get">
                        <button class="selection-btn">Sınav Programlarını Görüntüle</button>
                    </form>
                </div>
                <div id="row-2">
                    <form asp-controller="Exam" asp-action="AddExam" method="get">
                        <button class="selection-btn">Yeni Sınav Programı Oluştur</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="right"></div>
    </div>