@{
    Layout = "_MenuLayout";
    ViewData["CSS"] = "/css/DisplaySchedules.css"; 
}


        <div class="left"></div>

        <div class="center">
            <div class="table-div">
                <table class="schedule">
                    <tr class="days">
                        <th></th>
                        <th>Pazartesi</th>
                        <th>Salı</th>
                        <th>Çarşamba</th>
                        <th>Perşembe</th>
                        <th>Cuma</th>
                    </tr>

                    <tr class="cells">
                        <td>08.00-08.50</td>
                        <td>Mobil Programlama (1044 Lab) - Öğr. Gör. Uğur Yıldız</td>
                        <td>Proje</td>
                        <td>Mobil</td>
                        <td>Bilgi</td>
                        <td>Mobil</td>
                    </tr>

                    <tr class="cells">
                        <td>09.00-09.50</td>
                        <td>Mobil</td>
                        <td>Mobil</td>
                        <td>Mobil</td>
                        <td>YazGel</td>
                        <td>Linux</td>
                    </tr>

                    <tr class="cells">
                        <td>10.00-10.50</td>
                        <td>Mobil</td>
                        <td>Mobil</td>
                        <td>Mobil</td>
                        <td>YazGel</td>
                        <td>Linux</td>
                    </tr>

                    <tr class="cells">
                        <td>11.00-11.50</td>
                        <td>Mobil</td>
                        <td>Mobil</td>
                        <td>Mobil</td>
                        <td>YazGel</td>
                        <td>Linux</td>
                    </tr>

                </table>
            </div>
        </div>

        <div class="right"></div>
