@model UDAS.ViewModels.SeatingDisplayViewModel

@{
    Layout = "_MenuLayout";
    ViewData["CSS"] = "/css/DisplaySeatingPlan.css?v=2";
}

<div class="left"></div>

<div class="center">
    <div class="display-box">
        @foreach(var plan in Model.SeatingPlans)
        {   
            <form method="post" action="/Sitting/DisplaySeatingPlan">
                <div class="seating-plan">
                    <div class="name-bar">
                        <p class="title">@plan.PlanName</p>
                        <button type="submit" id="delete-btn">Sil</button>

                        <input type="hidden" name="planId" value="@plan.Id">
                    </div>
                    
                    <div class="seating-card" data-plan-id="@plan.Id">
                        @* Buraya iligli planın partial view'i gelecek *@
                    </div>
                </div>
            </form>
        }
    </div>
</div>

<div class="right"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.seating-card').each(function () {
            const container = $(this);
            const planId = container.data('plan-id');

            $.get('@Url.Action("LoadDisplayPartialView", "Sitting")', { planId: planId }, function (data) {
                container.html(data);
            }).fail(function () {
                container.html('<p>Plan yüklenirken bir hata oluştu.</p>');
            });
        });
    });
</script>