@model UDAS.ViewModels.ClassroomSelectionViewModel

@{
    Layout = "_MenuLayout";
    ViewData["CSS"] = "/css/ClassroomSelection.css";
}

    <div class="left"></div>

    <div class="center">
    <div class="center-box">
        
        <form asp-controller="Classroom" asp-action="Classroom" method="post">
            <div class="selection-box">
                <p>Hangi dersliği görüntülemek istersiniz?</p>
                <select name="classroomId" id="classrooms">
                    @foreach( var classroom in Model.Classrooms){
                        <option value="@classroom.Id">@classroom.RoomName</option>
                    }
                </select>
            </div>

            <div class="button-bar">
                <button id="display-btn">Görüntüle</button>
            </div>
        </form>
        
    </div>
    </div>

    <div class="right"></div>