@{
    Layout = "_MenuLayout";
    ViewData["CSS"] = "/css/Classroom.css";
}

    <!-- <div class="container">
      
    </div> -->

    <div class="left"></div>

      <div class="center">
        <div class="classroom-box">
          <h1>Derslik Adı</h1>

          <hr />

          <div class="mid-section">
            <div class="mid-left">
              <img
                id="classroom-img"
                src="/img/derslik.png"
                alt="Derslik-resmi"
              />
            </div>

            <div class="mid-right">
              <div id="row1">
                <div class="cols"><p>İd</p></div>
                <div class="cols"><p>İsim</p></div>
              </div>
              <div id="row2">
                <div class="cols"><p>Kapasite</p></div>
                <div class="cols"><p>Ders Veren Öğretim Görevlileri</p></div>
              </div>
              <div id="row3">
                <div class="cols"><p>Kullanıdığı Günler</p></div>
                <div class="cols"><p>Kullanıdığı Saatler</p></div>
              </div>
            </div>
          </div>

          <hr />
          <div class="classroom-status">
            <h1>Doluluk</h1>

            <table class="schedule">
              <thead>
                <tr class="days">
                  <th></th>
                  <th>Pazartesi</th>
                  <th>Salı</th>
                  <th>Çarşamba</th>
                  <th>Perşembe</th>
                  <th>Cuma</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>17.00-18.00</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                </tr>

                <tr>
                  <td>17.00-18.00</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                </tr>

                <tr>
                  <td>17.00-18.00</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                </tr>

                <tr>
                  <td>17.00-18.00</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                </tr>

                <tr>
                  <td>17.00-18.00</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                  <td>dafadfadf</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="right"></div>